language: php

php:
  - 5.5

mysql:
  database: drupal
  username: root
  encoding: utf8

before_install:
  # Download drush.
  - wget https://github.com/drush-ops/drush/archive/master.tar.gz
  - tar xf master.tar.gz
  - rm master.tar.gz
  - mkdir bin
  - ln -s $PWD/drush-master/drush $PWD/bin/drush
  - export PATH=$PATH:$PWD/bin/
  # Update apt.
  - sudo apt-get update -qq

install:
  # Install drush.
  - cd drush-master
  - composer install
  - cd ..
  # Install the packages needed for PHP's built-in webserver.
  - sudo apt-get install php5-cgi php5-mysql -y --force-yes
  - phpenv rehash

before_script:
  # Increase max allowed packet size so that MySQL does not go away.
  - echo -e "[server]\nmax_allowed_packet=64M" | sudo tee -a /etc/mysql/conf.d/drupal.cnf
  - sudo service mysql restart
  # Make sure the installation doesn't fail when it can't send an email.
  - echo 'sendmail_path = /bin/true' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Install dependencies.
  - composer install
  # Build the project.
  - ./build.sh --quick
  - cd build/
  # Run the installer.
  - drush si --db-url="mysql://root@127.0.0.1/drupal" invoicing -y
  # Enable Simpletest.
  - drush en simpletest -y
  # Start the built-in webserver and wait until it is up and running before continuing.
  - drush runserver 127.0.0.1:8080 &
  - until netstat -an 2>/dev/null | grep '8080.*LISTEN'; do true; done

script:
  # Run Simpletests.
  # drush test-run 'Invoicing - Access','Invoicing - Business','Invoicing - Client','Invoicing - Line item','Invoicing - Invoice','Invoicing - Registration' --uri=http://127.0.0.1:8080
  # SIMPLETEST_RESULT=$?
  # Run PHP CodeSniffer tests.
  - cd ..
  - ./vendor/bin/phpcs --standard=./phpcs-ruleset.xml --ignore=*/contrib/* --ignore=*/vendor/* --ignore=*/libraries/* --ignore=*/drush-master/* ./build/profiles/invoicing
  - CODESNIFFER_RESULT=$?
  - if [ $CODESNIFFER_RESULT -eq 0 ] ; then exit 0 ; else exit 1 ; fi

notifications:
  irc: irc.freenode.org#pocomas
