language: php

php:
  - 5.5

mysql:
  database: drupal
  username: root
  encoding: utf8

before_install:
  - pear channel-discover pear.drush.org

install:
  - pear install drush/drush
  - phpenv rehash

before_script:
  # Increase max allowed packet size so that MySQL does not go away.
  - echo -e "[server]\nmax_allowed_packet=64M" | sudo tee -a /etc/mysql/conf.d/drupal.cnf
  - sudo service mysql restart
  # Make sure the installation doesn't fail when it can't send an email.
  - echo 'sendmail_path = /bin/true' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Build the project.
  - ./build.sh --quick
  - cd build/
  # Run the installer.
  - drush si --db-url="mysql://root@127.0.0.1/drupal" invoicing -y
  # Enable Simpletest.
  - drush en simpletest -y
  # Start the built-in webserver and wait until it is up and running before continuing.
  - drush runserver 127.0.0.1:8080 &
  - until netstat -an 2>/dev/null | grep '8080.*LISTEN'; do true; done

script:
  - drush test-run 'Invoicing - Access','Invoicing - Business','Invoicing - Client','Invoicing - Line item','Invoicing - Invoice','Invoicing - Registration' --uri=http://127.0.0.1:8080

notifications:
  irc: irc.freenode.org#pocomas
